{% include site_html_start.html %}
{% include site_header.html %}
{% include page_start.html %}
                <!-- Post -->
                <article class="box post">
                    <header>
                        <h3>{{ page.title }}</h3>
                    </header>
                    {{ content }}
                    <!--
                    <ul class="actions">
                        <li><a href="#" class="button icon fa-file">Continue Reading</a></li>
                    </ul>
                    -->
                </article>

            </div>

    </div>
</div>
    {% include site_footer.html %}
</div>

</div>
{% include scripts.html %}
</body>
</html>
